.inputs:focus {
    outline: none;
    background-color: rgb(232, 231, 231);
    border: 2px solid black;
}

.navigation {
    margin-bottom: 5%;
}

label {
    font-size: 18px;
    font-weight: 600;
}

input[type="text"], textarea {
    width: 100%;
    margin-top: 6px;
    padding: 10px 12px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    resize: none;
}

input[type="text"]:focus, textarea:focus {
    outline: none;
    background-color: rgb(232, 231, 231);
}

.h1Create {
    margin-bottom: 5%;
}
.mainObj {
    margin-bottom: 5%;
    font-family: Quicksand, sans-serif;
}

.inputs {
    border-radius: 5px;
    padding: 5px;
    width: 80vh;
}

.create {
    border: none;
    background-color: rgb(140, 140, 140);
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 12vh;
    transition: 0.3s;
}

.create:hover {
    background-color:  rgb(208, 208, 208);
}

.return {
    border-radius: 5px;
    padding: 10px;
    width: 12vh;
    transition: 0.3s;
    border: none;
    color: white;
    background-color: rgb(252, 49, 49);
    text-decoration: none;
}

.return:hover {
    background-color: rgb(247, 109, 109);
}

.cos {
    border-radius: 5px;
    padding: 5px;
    width: 80vh;
    height: 20vh;
    resize: none;
}

.msg {
    color: black;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}