.editForm {
    width: 90%;
    background: #ffffff;
    margin-top: 0;
}

.editForm label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.editForm input[type="text"],
.editForm textarea {
    width: 100%;
    margin-top: 6px;
    padding: 10px 12px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    resize: none;
}

.editForm input[type="text"]:focus,
.editForm textarea:focus {
    outline: none;
    background-color: rgb(232, 231, 231);
}

.buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.25s;
}

.save{
    background-color: rgb(140, 140, 140);
    color: white;
}

.save:hover {
    background-color:  rgb(208, 208, 208);
}

.delete {
    background-color: rgb(252, 49, 49);
    color: white;
}

.delete:hover {
    background-color: rgb(247, 109, 109);
}

.error {
    background: #ffdddd;
    border-left: 5px solid #e60000;
    padding: 10px 15px;
    border-radius: 5px;
    width: 70%;
    margin: 20px auto;
    color: #900;
    font-weight: bold;
    text-align: center;
}
