* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
body {
    background-image: url(../images/fondo.jpg);
}

.titleIndex {
    font-family:  'Pokemon Solid', sans-serif;
    text-align: center;
    color: #ffca02;
    -webkit-text-stroke: 2px #316cb4;
    font-size: 50px;
}

.navigation {
    margin-bottom: 0%;
}

nav {
    background-color: white;
    box-shadow: 0px 1px 1px 1px grey;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    line-height: 30px;
}


.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navUl {
    list-style: none;
    display: flex;
    align-items: center;
}


.navUl li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 36px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: background-color .3s, color .3s;
    border-bottom: 3px solid rgb(71, 159, 254);
    font-family: Quicksand, sans-serif;
}

.navUl li a.logoutA {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    line-height: 10px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    transition: background-color .3s, color .3s;
    border: none;
}

.navUl li .last {
    border-bottom-right-radius: 15px;
    border-right: none;
    border-bottom: 3px solid rgb(254, 65, 65);
}

.navUl li .first {
    border-bottom-left-radius: 15px;
    border-bottom: 3px solid rgb(222, 85, 249);
}

.navUl li .last:hover {
    background-color: rgb(254, 65, 65);
    color: white;
}

.navUl li .first:hover {
    background-color: rgb(222, 85, 249);
}

.navUl li a:hover {
    background-color: rgb(71, 159, 254);
    color: white;
}

main {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 2px 2px 2px grey;
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
}

.user-menu {
    position: relative;
}

.user-menu-name {
    padding: 10px 16px;
    cursor: pointer;
    font-family: Quicksand, sans-serif;
}

.user-dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    box-shadow: 0px 2px 4px grey;
    display: none;
    border-radius: 0 0 10px 10px;
}

.user-dropdown li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}

.user-dropdown li a:hover {
    background-color: rgb(254, 65, 65);
    color: white;
}

.user-menu:hover .user-dropdown {
    display: block;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: orange;
    color: black;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgb(254, 202, 106);
}

.article-user {
    font-size: 0.9rem;
    color: #555;
}

.article-body {
    display: block;
    margin-top: 3px;
}

.mainObj {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 2px 2px 2px grey;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 15px;
}

.navObj {
    background-color: white;
    box-shadow: 0px 2px 2px 2px grey;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 6%;
}

.pagination {
    text-align: center;
    margin-top: 15px;
    font-size: 0.95rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
}