* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(220, 220, 220);
}
nav {
    background-color: white;
    box-shadow: 0px 2px 2px 2px grey;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 15%;
}


.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navUl {
    list-style: none;
    display: flex;
    align-items: center;
}


.navUl li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    transition: background-color .3s, color .3s;
}

.navUl li .last {
    border-bottom-right-radius: 15px;
}

.navUl li .first {
    border-bottom-left-radius: 15px;
}

.navUl li .last:hover {
    background-color: rgb(71, 159, 254);
    color: white;
}

.navUl li .first:hover {
    background-color: orange;
}

.navUl li a:hover {
    background-color: rgb(254, 65, 65);
    color: white;
}

main {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 2px 2px 2px grey;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 15px;
}

.user-menu {
    position: relative;
}

.user-menu-name {
    padding: 10px 16px;
    cursor: pointer;
}

.user-dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    box-shadow: 0px 2px 4px grey;
    display: none;
    border-radius: 0 0 10px 10px;
}

.user-dropdown li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}

.user-dropdown li a:hover {
    background-color: rgb(254, 65, 65);
    color: white;
}

.user-menu:hover .user-dropdown {
    display: block;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: orange;
    color: black;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgb(254, 202, 106);
}

.article-user {
    font-size: 0.9rem;
    color: #555;
}

.article-body {
    display: block;
    margin-top: 3px;
}

.mainObj {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 2px 2px 2px grey;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 15px;
}

.navObj {
    background-color: white;
    box-shadow: 0px 2px 2px 2px grey;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 6%;
}

.pagination {
    text-align: center;
    margin-top: 15px;
    font-size: 0.95rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
}