.form-container {
    background-color: #ffffff;
    max-width: 600px;
    margin: 60px auto;
    padding: 40px;
    height: 700px;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.mainObj {
    margin-bottom: 5%;
    font-family: Quicksand, sans-serif;
}

.form-container h2 {
    margin-top: 0;
    font-size: 28px;
    color: #000;
    margin-bottom: 25px;
}

.form-container p {
    color: #666;
    margin-bottom: 25px;
    font-size: 15px;
}


.input-group {
    margin-bottom: 25px;
}

.input-group label {
    display: block;
    margin-bottom: 10px;
    color: #000;
    font-size: 16px;
}

.input-group input {
    width: 90%;
    max-width: 450px;
    padding: 12px;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}

.input-group input:focus {
    border-color: #333;
}


.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.btn-submit {
    background-color: #8c8c8c;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-submit:hover {
    background-color: #737373;
}

.btn-return {
    background-color: #f73b3b;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

.btn-return:hover {
    background-color: #d63232;
}