.inputs:focus {
    outline: none;
    background-color: rgb(232, 231, 231);
    border: 2px solid black;
}

.inputs {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin: 8px;
}

.login {
    border: none;
    background-color: rgb(252, 49, 49);
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 12vh;
    transition: 0.3s;
}

.login:hover {
    background-color: rgb(247, 109, 109);
}

.signin {
    border-radius: 5px;
    padding: 10px;
    width: 12vh;
    transition: 0.3s;
    border: none;
    background-color: rgb(183, 183, 183);
}

.signin:hover {
    background-color: rgb(214, 213, 213);
}

.msg {
    color: black;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.msgErr {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.mainSignin {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 2px 2px 2px grey;
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    max-width: 800px;
    margin-bottom: 10%;
}

.navigation {
    margin-bottom: 10%;
}

.username, .name, .correo, .password {
    display: flex;
    flex-direction: right;
}

.divForm {
    width: 100%;
}

.loginform {
    width: 80%;
}