* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(220, 220, 220);
}
nav {
    background-color: white;
    box-shadow: 0px 2px 2px 2px grey;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    margin-bottom: 15%;
}


.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navUl {
    list-style: none;
    display: flex;
    align-items: center;
}


.navUl li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    transition: background-color .3s, color .3s;
}

.navUl li .last:hover {
    background-color: rgb(71, 159, 254);
    color: white;
}

.navUl li .first:hover {
    background-color: orange;
}

.navUl li a:hover {
    background-color: rgb(254, 65, 65);
    color: white;
}

main {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 2px 2px 2px grey;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 15px;
}

.user, 
.pwd {
    border-radius: 5px;
    padding: 5px;
    width: 30vh;
}
.login {
    border: none;
    background-color: rgb(252, 49, 49);
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 12vh;
    transition: 0.3s;
}

.pwd:focus, 
.user:focus,
.inputs:focus {
    outline: none;
    background-color: rgb(232, 231, 231);
    border: 2px solid black;
}
.inputs {
    border-radius: 5px;
    padding: 5px;
    width: 30vh;
}

.signin {
    border-radius: 5px;
    padding: 10px;
    width: 12vh;
    transition: 0.3s;
    border: none;
    background-color: rgb(183, 183, 183);
}

.login:hover {
    background-color: rgb(247, 109, 109);
}

.signin:hover {
    background-color: rgb(214, 213, 213);
}

.msg {
    color: black;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}